@import "./reset.css";

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
header{
    background-color: rgb(190, 188, 185);
    font-size: 15px;
    padding: 15px;
}
img {
    width: 500px;
    height: 500px;
    object-fit: contain;   
}
  
h1 {
    font-size: 30px;
    padding: 20px;
}
a, p{
    font-size: 15px;
    padding: 15px;
}

footer {
    background-color: rgb(190, 188, 185);
    flex-shrink: 0;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}